@charset "UTF-8";
body {
    font-family: '맑은 고딕', 'Malgun Gothic', Arial, sans-serif;
    background-color: #f0f5f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #006699;
}

#assignment {
    display: none;
    color: #333;
}

button {
    background-color: #006699;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004466;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #006699;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}