@charset "UTF-8";
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5; /* 연한 그레이 */
        }

        .container {
            background-color: #ffffff; /* 흰색 */
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            overflow: hidden;
            margin: 20px;
            padding: 20px;
            width: 400px;
            margin: 20px auto;
        }

        h1 {
            color: #007bff; /* 파란색 */
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 5px;
            color: #007bff; /* 파란색 */
        }

        input,
        textarea,
        button {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #007bff; /* 파란색 */
            border-radius: 5px;
            box-sizing: border-box;
            width: 100%;
        }

        button {
            background-color: #007bff; /* 파란색 */
            color: #ffffff; /* 흰색 */
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #0056b3; /* 진한 파란색 */
        }